talker-mobile-app/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
talker-mobile-app/ios/Runner/GeneratedPluginRegistrant.h
talker-mobile-app/ios/Runner/GeneratedPluginRegistrant.m
